<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.arp.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.arp.member.model.vo.Auth" alias="Auth"/>
		<typeAlias type="com.kh.arp.lecture.model.vo.Lecture" alias="Lecture"/>
		<typeAlias type="com.kh.arp.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.arp.board.model.vo.BReply" alias="BReply"/>
		<typeAlias type="com.kh.arp.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.arp.question.model.vo.Question" alias="Question"/>
		<typeAlias type="com.kh.arp.board.model.vo.BoardFile" alias="BoardFile"/>
		<typeAlias type="com.kh.arp.FAQ.model.vo.FAQ" alias="FAQ"/>
		<typeAlias type="com.kh.arp.qna.model.vo.Qna" alias="Qna"/>
		<typeAlias type="com.kh.arp.declaree.model.vo.Declaree" alias="Declaree"/>
		<typeAlias type="com.kh.arp.lecture.model.vo.Exam" alias="Exam"/>
		<typeAlias type="com.kh.arp.lecture.model.vo.Score" alias="Score"/>
		<typeAlias type="com.kh.arp.lecture.model.vo.MyClass" alias="MyClass"/>
		<typeAlias type="com.kh.arp.lecture.model.vo.Classdate" alias="Classdate"/>
		<typeAlias type="com.kh.arp.vacation.model.vo.Vacation" alias="Vacation"/>
		<typeAlias type="com.kh.arp.question.model.vo.QFile" alias="QFile"/>
		<typeAlias type="com.kh.arp.manager.model.vo.InsertSurvey" alias="InsertSurvey"/>
		<typeAlias type="com.kh.arp.manager.model.vo.CompleteSurvey" alias="CompleteSurvey"/>
		<typeAlias type="com.kh.arp.question.model.vo.QReply" alias="QReply"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/admin-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/lecture-mapper.xml"/>
		<mapper resource="/mappers/tboard-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/question-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/declaree-mapper.xml"/>
		<mapper resource="/mappers/faq-mapper.xml"/>
		<mapper resource="/mappers/qna-mapper.xml"/>
		<mapper resource="/mappers/vacation-mapper.xml"/>
		<mapper resource="/mappers/manager-mapper.xml"/>
	</mappers>
</configuration>