<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<select id="getBoardList" resultType="Board">
		select * from board
	</select>
	
	<update id="deleteBoard">
		update board set status='N' where b_no=#{b_no}
	</update>
	
	<update id="deleteCancleBoard">
		update board set status='Y' where b_no=#{b_no}
	</update>
	
	<update id="declareBoard">
		update board set status='D' where b_no=#{b_no}
	</update>
	
	<select id="getReplyList" resultType="BReply">
		select * from breply
	</select>
	
	<update id="deleteReply">
		update breply set status='N' where r_no=#{r_no}
	</update>
	
	<update id="deleteCancleReply">
		update breply set status='Y' where r_no=#{r_no}
	</update>
	
	<update id="declareReplyAdmin">
		update breply set status='D' where r_no=#{r_no}
	</update>
	
	<select id="getDeclareList" resultType="Declaree">
		select * from declaree
	</select>
	
	<update id="okDeclare">
		update declaree set okdate=sysdate, status='Y' where d_no=#{d_no}
	</update>
	
	<update id="declareDeclare">
		update declaree set okdate=sysdate, status='D' where d_no=#{d_no}
	</update>
	
	<select id="getBoardListForMain" resultType="Board">
		select b.*,m.name from board b, member m
		where b.status='Y' and b.m_no=m.m_no and ca_no =1
		order by 1 desc
	</select>
	<select id="getNoticeListForMain" resultType="Notice">
		select * from notice
	</select>
	

</mapper>
