<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<select id="getListCount" resultType="_int">
		select count(*) from board where status = 'Y'
	</select>
	
	<select id="selectList" resultType="Board">
		select * from board where status='Y' order by b_no desc
	</select>
	
	<insert id="insertBoard">
		insert into board values(SEQ_BOARD.nextval, #{m_no}, default, #{title}, #{content}, sysdate, sysdate, default, default, default, default, default)
	</insert>
	
	<select id="selectBoard" resultType="Board">
		select * from board where b_no = #{b_no}
	</select>
	
	<select id="selectReplyList" resultType="BReply">
		select * from breply where b_no = #{b_no} and status = 'Y' order by parent_no, depth, r_no
	</select>
	
	<insert id="insertReply">
		insert into breply values(SEQ_BREPLY.nextval, #{b_no}, #{m_no}, #{content}, sysdate, sysdate, default, default, SEQ_BREPLY.currval)
	</insert>
	
	<update id="deleteReply">
		update breply set status = 'N' where r_no=#{r_no}
	</update>
	
	<update id="updateReply">
		update breply set content=#{content}, update_date=sysdate where r_no=#{r_no}
	</update>
	
	<insert id="insertReReply">
		insert into breply values(SEQ_BREPLY.nextval, #{b_no}, #{m_no}, #{content}, sysdate, sysdate, default, 2, #{parent_no})
	</insert>
</mapper>