<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="declareMapper">
	<select id="declare" resultType="Declaree">
		insert into declaree values(
		seq_declaree.nextval,#{m_no},#{kind},#{content},sysdate,null,default,#{obj},#{obj_no}
		)
	</select>
	
	<select id="getDeclare" resultType="Declaree">
		select * from declaree where d_no=#{d_no}
	</select>
	
	
	
	

</mapper>
