<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="faqMapper">

<insert id="insertFAQ">

insert into FAQ
values(seq_FAQ.nextval,
		#{question},
		#{answer},
		#{m_no},
		#{category})


</insert>

<select id="selectFAQ" resultType="FAQ">
select * from FAQ
</select>

<delete id="deleteFAQ">

delete faq
where faq_no = #{faq_no}

</delete>

<select id="selectCategory" resultType="FAQ">
select * from FAQ
where category =#{category}
</select>

</mapper>