<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lectureMapper">
	<select id="getClassList" resultType="Lecture">
		select * from lecture
	</select>
	
	<select id="getLecture" resultType="Lecture">
		select * from lecture where lec_no=#{lec_no}
	</select>
	
	<insert id="makeLecture">
		insert into lecture values(
			seq_lecture.nextval,
			#{m_no},
			#{title},
			sysdate,<!-- to_date(#{startdate},'yyyy-mm-dd'), -->
			sysdate,
			#{inghour},
			default,
			#{content},
			null,
			#{headcount},
			#{ingcount},
			#{nth},
			#{dayofweek},
			#{place}
		)
		<!-- <selectKey keyProperty="abc">
			select seq_lecture.currval from dual
		</selectKey> -->
	</insert>
	
	<select id="getLastestLecture" resultType="Lecture">
		select * from (select * from lecture order by 1 desc) where rownum=1
	</select>
	
	<insert id="insertClassdate">
		insert into classdate values(#{lec_no},#{classdate},#{nth})
	</insert>
	
	<select id="getExamList" resultType="Exam">
		select * from exam where lec_no=#{lec_no}
	</select>
	
	<insert id="makeExam" >
		INSERT INTO exam VALUES(seq_exam.nextval,#{lec_no},#{title},to_date(#{examdate},'yyyy-MM-dd'),default,default)
		<selectKey keyProperty="e_no" resultType="int" order="AFTER">
			select seq_exam.currval from dual
		</selectKey>
	</insert>
	
	<select id="getExam" resultType="Exam">
		select * from exam where e_no=#{e_no}
	</select>
	
	<update id="editExam">
		update exam set
		title=#{title},
		examdate=#{examdate}
		where e_no=#{e_no}
	</update>
	
	<select id="getStudentList" resultType="MyClass">
		select * from myclass where lec_no=#{lec_no}
	</select>
	
	<select id="isScore" resultType="_int">
		select count(*) from score where e_no=#{e_no} and m_no=#{m_no}
	</select>
	
	<update id="updateScore">
		update score set
		score=#{score}
		where e_no=#{e_no} and m_no=#{m_no}
	</update>
	
	<update id="insertScore">
		insert into score values(#{e_no},#{m_no},#{score})
	</update>
	
	<select id="getLectureScore" resultType="Score">
		select * from score where e_no in (select e_no from exam where lec_no=#{lec_no})
	</select>
	
	<select id="getLectureDatesList" resultType="Classdate">
		select * from classdate where lec_no=#{lec_no}
	</select>
	
	<select id="isAttendence" resultType="_int">
		select count(*) from attendence where nth=#{nth} and m_no=#{m_no} and lec_no=#{lec_no}
	</select>
	
	<update id="updateAttendence">
		update attendence set
		content=#{content}
		where nth=#{nth} and m_no=#{m_no} and lec_no=#{lec_no}
	</update>
	
	<update id="insertAttendence">
		insert into attendence values(#{lec_no},#{m_no},#{nth},#{content})
	</update>
</mapper>
