<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lectureMapper">
	<select id="getClassList" resultType="Lecture">
		select l.*,name from lecture l, member m
		where l.m_no=m.m_no
	</select>
	
	<select id="getLecture" resultType="Lecture">
		select l.*,m.name,cnt from
		(select * from lecture where lec_no=#{lec_no}) l, member m,
		(SELECT lec_no, count(*) cnt FROM myclass GROUP BY LEC_NO) myclass_cnt
		where l.m_no=m.m_no and l.lec_no=myclass_cnt.lec_no(+)
	</select>
	
	<insert id="makeLecture">
		insert into lecture values(
			seq_lecture.nextval,
			#{m_no},
			#{title},
			to_date(#{startdate},'yyyy-mm-dd'),<!-- to_date(#{startdate},'yyyy-mm-dd'), -->
			to_date(#{startdate},'hh:mi'),
			#{inghour},
			'A',
			#{content},
			null,
			#{headcount},
			#{ingcount},
			#{nth},
			#{dayofweek},
			#{place}
		)
		<!-- <selectKey keyProperty="lec_no" resultType="int" order="AFTER">
			select seq_lecture.currval from dual
		</selectKey> -->
	</insert>
	
	<select id="getLastestLecture" resultType="Lecture">
		select * from (select * from lecture order by 1 desc) where rownum=1
	</select>
	
	<insert id="insertClassdate">
		insert into classdate values(seq_lecture.currval,#{classdate},#{nth})
	</insert>
	
	<select id="getExamList" resultType="Exam">
		select * from exam where lec_no=#{lec_no}
	</select>
	
	<insert id="makeExam" >
		INSERT INTO exam VALUES(seq_exam.nextval,#{lec_no},#{title},to_date(#{examdate},'yyyy-MM-dd'),default,default)
		<selectKey keyProperty="e_no" resultType="int" order="AFTER">
			select seq_exam.currval from dual
		</selectKey>
	</insert>
	
	<select id="getExam" resultType="Exam">
		select * from exam where e_no=#{e_no}
	</select>
	
	<update id="editExam">
		update exam set
		title=#{title},
		examdate=#{examdate}
		where e_no=#{e_no}
	</update>
	
	<select id="getStudentList" resultType="MyClass">
		select myclass.*,(SELECT name FROM MEMBER WHERE M_NO=myclass.M_NO) name from myclass
		where lec_no=#{lec_no}
	</select>
	
	<select id="isScore" resultType="_int">
		select count(*) from score where e_no=#{e_no} and m_no=#{m_no}
	</select>
	
	<update id="updateScore">
		update score set
		score=#{score}
		where e_no=#{e_no} and m_no=#{m_no}
	</update>
	
	<update id="insertScore">
		insert into score values(#{e_no},#{m_no},#{score})
	</update>
	
	<select id="getLectureScore" resultType="Score">
		select * from score where e_no in (select e_no from exam where lec_no=#{lec_no})
	</select>
	
	<select id="getLectureDatesList" resultType="Classdate">
		select * from classdate where lec_no=#{lec_no}
	</select>
	
	<select id="isAttendence" resultType="_int">
		select count(*) from attendence where nth=#{nth} and m_no=#{m_no} and lec_no=#{lec_no}
	</select>
	
	<update id="updateAttendence">
		update attendence set
		content=#{content}
		where nth=#{nth} and m_no=#{m_no} and lec_no=#{lec_no}
	</update>
	
	<update id="insertAttendence">
		insert into attendence values(#{lec_no},#{m_no},#{nth},#{content})
	</update>
	
	<select id="getLectureAttendence" resultType="Attendence">
		select * from attendence where lec_no=#{lec_no}
	</select>
	
	<select id="getHomeworkListInLecture" resultType="Homework">
		select hw.*,status,
		(select count(*) from problemsinhomework where hw_no=hw.hw_no) total
		from homework hw, (select hw_no,status from homeworkinlecture where lec_no=#{lec_no}) hwl
		where hw.hw_no=hwl.hw_no
	</select>
	
	<select id="getHomeworkListInLectureForScore" resultType="Homework">
		select hw.*,status,
		(select count(*) from problemsinhomework where hw_no=hw.hw_no) total
		from homework hw, (select hw_no,status from homeworkinlecture where lec_no=#{lec_no}) hwl
		where hw.hw_no=hwl.hw_no
	</select>
	
	<insert id="addHomeworkInLecture">
		insert into homeworkinlecture values(#{lec_no},#{hw_no},default)
	</insert>
	
	<delete id="delHomeworkInLecture">
		delete from homeworkinlecture
		where lec_no=#{lec_no} and hw_no=#{hw_no}
	</delete>
	
	<insert id="submitAnswer">
		insert into homeworkanswer values(#{lec_no},#{hw_no},#{p_no},#{m_no},#{answer},#{ox})
	</insert>
	
	<select id="getHomeworkScore" resultType="ScoreH">
		SELECT m_no, hw_no, sum(ox) cnt FROM
			(SELECT hw_no,M_NO,decode(ox,'O',1,'X',0) ox
			FROM HOMEWORKANSWER
			WHERE lec_no=#{lec_no})
		GROUP BY M_NO, HW_NO
	</select>
	
	<update id="deleteLecture">
		update lecture set status='N' where lec_no=#{lec_no}
	</update>
	
	<update id="deleteLectureCancle">
		update lecture set status='Y' where lec_no=#{lec_no}
	</update>
	
	<select id="getlectureList" resultType="Lecture">
		select l.*,m.name from (select * from lecture where m_no=#{m_no} and status='Y') l, member m
		where l.m_no=m.m_no
	</select>
	
	<select id="applylectureList" resultType="Lecture">
		select l.*,m.name from (select * from lecture where m_no=#{m_no}) l, member m
		where l.m_no=m.m_no
	</select>
	
	<update id="acceptLecture">
		update lecture set status='Y' where lec_no=#{lec_no}
	</update>
	
	<update id="rejectLecture">
		update lecture set status='R' where lec_no=#{lec_no}
	</update>
</mapper>
