<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<select id="login" resultType="Member">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	
	<insert id="join">
		update member set
			id=#{id},
			pw=#{pw},
			name=#{name},
			phone=#{phone},
			regdate=sysdate,
			updatedate=sysdate,
			condate=sysdate,
			status='Y'
		where m_no=#{m_no}
	</insert>
	
	<select id="getMemberList" resultType="Member">
		select * from member
	</select>
	
	<update id="banish">
		update member set status='N' where m_no=#{m_no}
	</update>
	
	<update id="banishCancle">
		update member set status='Y' where m_no=#{m_no}
	</update>
	
	<insert id="insertMember">
		<if test='typee == "s"'>
			insert into member(m_no,typee,email,status) values(seq_member.nextval,#{typee},#{email},default)
		</if>
		<if test='typee == "t"'>
			insert into member(m_no,typee,email,status,name,phone) values(seq_member.nextval,#{typee},#{email},default,#{name},#{phone})
		</if>
	</insert>
	
	<select id="getAuth" resultType="Auth">
		select * from auth where code=#{code} or email=#{email}
	</select>
	
	<select id="getMember" resultType="Member">
		select * from member where email=#{email} or id=#{id} or m_no=#{m_no}
	</select>
	
	<insert id="insertAuth">
		insert into auth values(#{email},#{code})
	</insert>
	
	<delete id="deleteAuth">
		delete from auth where email=#{email}
	</delete>
	
	<update id="update">
		update member set
		name=#{name},
		email=#{email},
		phone=#{phone},
		updatedate=sysdate
		where m_no=#{m_no}
	</update>
	
	<select id="find" resultType="Member">
		select * from member where m_no=#{m_no} or email=#{email} or phone=#{email}
	</select>
	
	<select id="getQnaList" resultType="Qna">
		select * from qna
	</select>
	
	<select id="getStudentList" resultType="Member">
		select * from member where typee='s'
	</select>
	
	<select id="getTeacherList" resultType="Member">
		select * from member where typee='t'
	</select>
	
	<select id="getLectureListByTeacher" resultType="Lecture">
		select * from lecture where m_no=#{m_no}
	</select>
	
	<select id="getIngStudentList" resultType="Member">
		select m.* from myclass mc, member m where m.m_no=mc.m_no and lec_no=#{lec_no}
	</select>
	
	<select id="getOtherStudentList" resultType="Member">
		select * from member where m_no not in (select m_no from myclass where lec_no=#{lec_no})
	</select>

	<insert id="insertStudentToIng">
		insert into myclass values(#{lec_no},#{m_no})
	</insert>
	
	<delete id="insertStudentToOther">
		delete from myclass where lec_no=#{lec_no} and m_no=#{m_no}
	</delete>
</mapper>
