<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="msg-mapper">

	<insert id="insertMsg">
		insert into message values(SEQ_MESSAGE.nextval,#{g_no},#{s_no},#{title},#{content},default,sysdate,default,default)
	</insert>
	
	<select id="selectList" resultType="Message">
		select ms.*,m.name
		from message ms, member m 
		where ms.s_no=#{m_no} and ms.g_no=m.m_no
		order by s_date desc
	</select>
	
	
	<select id="detailMsg" resultType="Message">
	select ms.*, m.name 
	from message ms , member m
	where ms_no=#{ms_no} and ms.g_no = m.m_no
	</select>
	
	<select id="listSendMsg" resultType="Message">
		select ms.*,m.name
		from message ms, member m 
		where ms.g_no=#{m_no} and ms.s_no=m.m_no
		order by s_date desc
	</select>
	
	<update id="updateDate">
	 update message set r_date=sysdate, read_status = 'Y', alram='Y' where ms_no=#{ms_no}
	</update>
	
	<select id="searchList" parameterType="com.kh.arp.message.model.vo.Dto" resultType="com.kh.arp.message.model.vo.Dto">
	select name,m_no from member where name like '%${name}%' and m_no != #{m_no}
	</select> 
	
	<select id="selectMcount" resultType="_int">
	select count(*)
	from message 
	where g_no = #{m_no} and read_status='N'
	
	</select>
	
	<select id="selectNList" resultType="Message">
	<![CDATA[
	 select *
	 from  (select *
	       from message 
	       where g_no=#{m_no} and read_status='N'and alram='N' order by s_date desc )
	where rownum <= 3 
	 ]]>
	</select>
	
	<update id="updateAlram">
	update message set alram = 'Y' where g_no=#{m_no}
	</update>
	
	<select id="getListCount" parameterType="HashMap" resultType="_int">
	select count(*)
	from message
	where g_no=#{m_no}
	</select>
	
	<select id="reSendMsgForm" resultType="Message">
	select * 
	from message
	where ms_no=#{ms_no}
	</select>

</mapper>