<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="surveyMapper">

	<resultMap id="insertsurveyList" type="InsertSurvey">
		<id property="su_no" column="su_no"/>
		<result property="lec_no" column="lec_no"/>
		<result property="m_no" column="m_no"/>
		<result property="title" column="title"/>
		<result property="enrolldate" column="enrolldate"/>
		<result property="q1" column="q1"/>
		<result property="q2" column="q2"/>
		<result property="q3" column="q3"/>
		<result property="name" column="name"/>
		<result property="title_1" column="lec_title"/>
	</resultMap>
	
	<resultMap id="completesurveyList" type="CompleteSurvey">
		<id property="su_no" column="su_no"/>
		<result property="m_no" column="m_no"/>
		<result property="a1" column="a1"/>
		<result property="a2" column="a2"/>
		<result property="a3" column="a3"/>
		<result property="name" column="name"/>
		<result property="issurvey" column="issurvey"/>
	</resultMap>
	
  <insert id="insertSurvey">
  	insert into survey values
  	(seq_survey.nextval, #{m_no2}, #{lec_no}, #{m_no}, 
  	#{title}, #{enrolldate},
  	#{q1}, #{a1}, #{q2}, #{a2}, #{q3}, #{a3}, #{issurvey})
  </insert>
  
  <select id="selectSurvey" resultMap="insertsurveyList">
  	select su_no, s.title, enrolldate, name, l.title lec_title
	from Survey s 
	join lecture l on s.lec_no=l.lec_no
	join member m on s.m_no=m.m_no
  </select>
	
	<select id="detailSurvey" resultType="InsertSurvey">
		select *
		from Survey
		where su_no=#{su_no}
	</select>

</mapper>
