<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="surveyMapper">

	<resultMap id="insertsurveyList" type="InsertSurvey">
		<id property="su_no" column="su_no"/>
		<result property="lec_no" column="lec_no"/>
		<result property="m_no" column="m_no"/>
		<result property="title" column="title"/>
		<result property="enrolldate" column="enrolldate"/>
		<result property="title_1" column="lec_title"/>
	</resultMap>
	
		<resultMap id="surveyquestion" type="SurveyQuestion">
		<id property="sq_no" column="sq_no"/>
		<id property="su_no" column="su_no"/>
		<id property="m_no" column ="m_no"/>
		<result property="question" column="question"/>
		<result property="answer" column="answer"/>
	</resultMap>
	
	
	<select id="selectSurvey" resultMap="insertsurveyList">
  	select su_no, s.title, enrolldate, name, l.title lec_title
	from insertSurvey s 
	join lecture l on s.lec_no=l.lec_no
	join member m on s.m_no=m.m_no
  </select>
	
  <insert id="insertSurvey">
  	insert into insertsurvey values
  	(seq_insertsurvey.nextval,  #{lec_no}, #{m_no}, 
  	#{title}, #{enrolldate})
  </insert>
  
  <insert id ="insertSurveyQuestion">
  insert into surveyquestion values
  (#{sq_no}, seq_insertsurvey.currval,#{question})
  </insert>
  
  
	<select id="detailSurvey" resultType="InsertSurvey">
		select *
		from insertSurvey
		where su_no=#{su_no}
	</select>

	<insert id = "insertCompleteSurvey">
	insert into completesurvey values
	(#{su_no},#{m_no},#{a1},#{a2},#{a3}, default)
	</insert>
</mapper>
