<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="surveyMapper">

	<resultMap id="insertsurveyList" type="InsertSurvey">
		<id property="su_no" column="su_no"/>
		<result property="lec_no" column="lec_no"/>
		<result property="m_no" column="m_no"/>
		<result property="title" column="title"/>
		<result property="enrolldate" column="enrolldate"/>
		<result property="title_1" column="lec_title"/>
	</resultMap>
	
	<resultMap id="surveyquestion" type="SurveyQuestion">
		<id property="sq_no" column="sq_no"/>
		<id property="su_no" column="su_no"/>
		<id property="m_no" column ="m_no"/>
		<result property="question" column="question"/>
		<result property="answer" column="answer"/>
		<result property="name" column="name"/>
		<result property="enrolldate" column="enrolldate"/>
		<result property="title" column="title"/>
	</resultMap>
	
	
	<select id="selectSurvey" resultMap="insertsurveyList">
  	select su_no, s.title, enrolldate, name, l.title lec_title
	from insertSurvey s 
	join lecture l on s.lec_no=l.lec_no
	join member m on s.m_no=m.m_no
  </select>
	
  <insert id="insertSurvey">
  	insert into insertsurvey values
  	(seq_insertsurvey.nextval,  #{lec_no}, #{m_no}, 
  	#{title}, #{enrolldate})
  </insert>
  
  <select id="selectstudentmember" resultMap="surveyquestion">
  <!-- 
  select  mc.m_no
  from surveyquestion sq, insertsurvey iq , lecture l , myclass mc
  where sq.sq_no=1 
  And sq.m_no=mc.m_no 
  And iq.su_no=2
  And sq.su_no=iq.su_no 
  And iq.lec_no=l.lec_no
  And l.lec_no=mc.lec_no
   -->
   select  m_no
	from myclass
	where lec_no=#{lec_no}
  </select>
  
  <insert id ="insertSurveyQuestion">
  insert into surveyquestion values
  (#{sq_no}, seq_insertsurvey.currval,#{m_no}, #{question}, null)
  </insert>
  
  
  
	<!-- <select id="detailSurvey" resultMap="surveyquestion"> -->
	<select id="detailSurvey" resultMap="surveyquestion">
		select sq.su_no, sq.sq_no, sq.question, ie.title, ie.enrolldate
        from surveyquestion sq, insertsurvey ie
		where sq.m_no=#{m_no} and sq.su_no=#{su_no} and sq.su_no=ie.su_no
	</select>

	<update id="updatesurveyquestion">
		update surveyquestion set 
		answer=#{answer}
		where m_no=#{m_no}
		And su_no=#{su_no}
		And sq_no=#{sq_no}
	</update>
	
</mapper>
