<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tboardMapper">


	<select id ="selectTBoardList" resultType="Board">
		select * 
		from board 
		where ca_no=2 and status='Y'
		order by b_no
	</select>
	
	<insert id="insertTBoard">
		insert into board
		values(seq_board.nextval, 
		#{m_no}, 
		2 , 
		#{title} , 
		#{content}, 
		sysdate , 
		sysdate, 
		0, 
		default, 
		0 ,
		0,
		#{fileStatus})
	</insert>
	
	<select id="detailTBoard" resultType="Board">
		select * 
		from board 
		where b_no=#{b_no}
	
	</select>
	
	<select id="updateTBoardForm" resultType="Board"> 
		select * 
		from board 
		where b_no=#{b_no}
	</select>
	
	<update id="updateTBoard">
		update board
		set title=#{title}, content=#{content}, 
		update_date=sysdate
		where b_no=#{b_no}
	</update>
	
	<update id="deleteTBoard">
		update board 
		set status='N'
		 where b_no=#{b_no}
	
	</update>
	
	<insert id="insertTBoardFile">
		insert into BoardFile
		values(seq_boardfile.nextval,seq_board.currval,#{original_filename}, #{rename_filename})
	</insert>
	
	<select id="detailTBoardFile" resultType="BoardFile">
		select * 
		from BoardFile 
		where b_no=#{b_no}
	
	</select>
	
	<update id="updateFile">
	
		update BoardFile 
		set original_filename=#{original_filename},rename_filename=#{rename_filename}
		where b_no=#{b_no}

	</update>
	
	<insert id="updateInsertFile">
		insert into BoardFile
		values(seq_boardFile.nextval,#{b_no},#{original_filename},#{rename_filename})
	
	</insert>



</mapper>