<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vacationMapper">

<insert id="insertVacation">
insert into vacation
values(seq_vacation.nextval,
	   #{m_no},
	   #{vacation_title},
	   #{reason},
	   sysdate,
	   default,
	   null,
	   default,
	   default,
	   default
	   )
	   <selectKey keyProperty="v_no" resultType="int" order="AFTER">
	   		select seq_vacation.currval from dual
	   </selectKey>
</insert>

<select id ="selectLecNo" resultType="VacationDate">

SELECT * FROM CLASSDATE
WHERE LEC_NO IN (SELECT LEC_NO FROM MYCLASS
WHERE m_no = #{m_no}) AND
CLASSDATE= #{classdate} -- vacation date로 바꾸기

</select>

<insert id ="insertVacationDate">
insert into vacationdate
values(#{v_no},
	   #{lec_no},
	   #{classdate})
</insert>

<!-- <insert id ="insertDate">
insert into vacationdate
values(#{v_no},
	   #{lec_no},
	   #{classdate})
</insert> -->

<select id="selectList" resultType="Vacation">
select v.*, m.name
from vacation v , member m 
where m.m_no = v.m_no
order by v.v_no desc
<!--select b.*, m.name 
		from board b, member m
		where b.ca_no=2 and b.status='Y' and b.m_no=m.m_no
		order by b_no desc  -->

</select>

<select id="selectLecture" resultType="Lecture">
select l.*
from myclass m, lecture l
where l.lec_no=m.lec_no and m.m_no=#{m_no}
</select>

<select id="selectVacation" resultType="Vacation">
select v.*, m.name
from vacation v , member m
where v_no=#{v_no} and v.m_no = m.m_no

</select>

<update id="updateVacation">
update vacation
set reason=#{reason},start_date=#{start_date},date_count=#{date_count},APPLICATION_DATE=sysdate
where v_no=#{v_no}
</update>

<delete id="deleteVacation">

delete vacation
where v_no = #{v_no} 


</delete>


<select id="studentVacationList" resultType="Vacation">
select v.* ,title ,name
from vacation v , lecture l, member m 
where v.lec_no = l.lec_no and v.m_no = m.m_no and l.m_no= #{m_no} and tstatus='N'
order by l.lec_no desc
</select>

<update id="permission">

update vacation
set tstatus='Y'
where v_no=#{v_no}

</update>

<update id="companion">
update vacation
set tstatus='B', companion_reason=#{companion_reason}
where v_no=#{v_no}
</update>

<update id="adminpermission">
update vacation
set astatus='Y', status='Y'
where v_no=#{v_no} 
</update>

<select id="rlaalstkd" resultType="Vacation">
select mc.lec_no,cd.classdate from myclass mc, classdate cd where m_no=#{m_no} and mc.lec_no=cd.lec_no --1번학생이 수강중인 수업날짜들
and cd.classdate in (select vacation_date from vacationdate where m_no=#{m_no})
</select>

</mapper>
