<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vacationMapper">

<insert id="insertVacation">
insert into vacation
values(seq_vacation.nextval,
	   #{m_no},
	   #{vacation_title},
	   #{reason},
	   sysdate,
	   null
	   )
	   <selectKey keyProperty="v_no" resultType="int" order="AFTER">
	   		select seq_vacation.currval from dual
	   </selectKey>
</insert>

<select id ="selectLecNo" resultType="VacationDate">

SELECT lec_no , classdate vacation_date FROM CLASSDATE
WHERE LEC_NO IN (SELECT LEC_NO FROM MYCLASS
WHERE m_no = #{m_no}) AND
classdate = #{vacation_date}<!-- #{classdate} --> -- vacation date로 바꾸기

</select>

<insert id ="insertVacationDate">
insert into vacationdate
values(#{v_no},
	   #{lec_no},
	  #{vacation_date},
	  default,
	  default,
	  default,
	  default
	  <!-- #{classdate} -->)
</insert>

<!-- <insert id ="insertDate">
insert into vacationdate
values(#{v_no},
	   #{lec_no},
	   #{classdate})
</insert> -->

<select id="selectList" resultType="Vacation">
select v.*, l.lec_no , vd.lec_no , m.name ,vd.tstatus , vd.astatus , vd.status , l.title, vd.vacationdate
from vacation v , lecture l, vacationdate vd , member m
where v.v_no = vd.v_no and l.lec_no = vd.lec_no and m.m_no = v.m_no
<!--select b.*, m.name 
		from board b, member m
		where b.ca_no=2 and b.status='Y' and b.m_no=m.m_no
		order by b_no desc  -->

</select>

<select id="selectLecture" resultType="Lecture">
select l.*
from myclass m, lecture l
where l.lec_no=m.lec_no and m.m_no=#{m_no}
</select>

<select id="detailVacation" resultType="Vacation">
select vd.* , v.vacation_title , v.reason , v.m_no ,m.name , l.title
from vacationdate vd , vacation v, member m , lecture l
where v.v_no =#{v_no} and m.m_no = v.m_no and vd.lec_no=l.lec_no and v.v_no = vd.v_no and vd.lec_no =#{lec_no}
</select>

<update id="updateVacation">
update vacation
set reason=#{reason},start_date=#{start_date},date_count=#{date_count},APPLICATION_DATE=sysdate
where v_no=#{v_no}
</update>

<delete id="deleteVacation">

delete vacationdate
where lec_no = #{lec_no} 


</delete>


<select id="studentVacationList" resultType="Vacation">
select v.* ,vd.v_no , vd.lec_no ,vd.vacationdate, m.name , l.title , vd.tstatus 
from vacationdate vd, vacation v, member m, lecture l
where v.v_no = vd.v_no and vd.lec_no in (select lec_no from lecture
where m_no=#{m_no}) and v.m_no = m.m_no and vd.lec_no = l.lec_no

</select>

<update id="permission">

update vacationdate
set tstatus='Y'
where v_no=#{v_no} and lec_no=#{lec_no}

</update>

<update id="companion">
update vacationdate
set tstatus='B', companion_reason=#{companion_reason}
where v_no= #{v_no} and lec_no=#{lec_no}
</update>

<update id="adminpermission">
update vacationdate
set astatus='Y', status='Y'
where v_no=#{v_no} 
</update>

<update id ="multipermission">
update vacationdate
set astatus='Y', status='Y'
where v_no=#{v_no} and lec_no=#{lec_no}
</update>


</mapper>
