<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vacationMapper">

<insert id="insertVacation">
insert into vacation
values(seq_vacation.nextval,
	   #{m_no},
	   #{vacation_title},
	   #{reason},
	   sysdate,
	   default
	   )
	   <selectKey keyProperty="v_no" resultType="int" order="AFTER">
	   		select seq_vacation.currval from dual
	   </selectKey>
</insert>

<select id ="selectLecNo" resultType="VacationDate">

SELECT lec_no , classdate vacation_date FROM CLASSDATE
WHERE LEC_NO IN (SELECT LEC_NO FROM MYCLASS
WHERE m_no = #{m_no}) AND
classdate = #{vacation_date}<!-- #{classdate} --> -- vacation date로 바꾸기

</select>

<insert id ="insertVacationDate">
insert into vacationdate
values(#{v_no},
	   #{lec_no},
	  #{vacation_date},
	  default,
	  default
	  <!-- #{classdate} -->)
</insert>

<!-- <insert id ="insertDate">
insert into vacationdate
values(#{v_no},
	   #{lec_no},
	   #{classdate})
</insert> -->

<select id="selectList" resultType="Vacation">
select v.*, m.name 
from vacation v , member m 
where v.m_no =#{m_no} and v.m_no=m.m_no
order by v.v_no desc
<!--select b.*, m.name 
		from board b, member m
		where b.ca_no=2 and b.status='Y' and b.m_no=m.m_no
		order by b_no desc  -->

</select>

<select id="selectLecture" resultType="Lecture">
select l.*
from myclass m, lecture l
where l.lec_no=m.lec_no and m.m_no=#{m_no}
</select>

<select id="detailVacation" resultType="VacationDate">
select vd.* , v.vacation_title , v.reason , l.title , m.name
from vacationdate vd , vacation v , lecture l , member m
where vd.v_no=#{v_no} and vd.v_no = v.v_no and l.lec_no = vd.lec_no and m.m_no = v.m_no
</select>

<select id="detailVactionT" resultType="VacationDate">
select vd.* , v.vacation_title , v.reason , l.title , m.name
from vacationdate vd , vacation v , lecture l , member m
where vd.v_no=#{v_no} and vd.v_no = v.v_no and l.lec_no = vd.lec_no and m.m_no = v.m_no
and vd.lec_no in (select lec_no from lecture where m_no=#{m_no})
</select>

<update id="updateVacation">
update vacation
set reason=#{reason},start_date=#{start_date},date_count=#{date_count},APPLICATION_DATE=sysdate
where v_no=#{v_no}
</update>

<delete id="deleteVacation">

delete vacationdate
where lec_no = #{lec_no} 


</delete>

<update id="statusCheck">
update vacation
set status='Y'
where v_no=#{v_no}
</update>

<select id ="selectStatus" resultType="Vacation">
select status
from vacation
where v_no=#{v_no}


</select>

<select id="studentVacationList" resultType="Vacation">
select v.* , m.name 
from vacation v, vacationdate vd , member m ,lecture l 
where vd.v_no= v.v_no and m.m_no = v.m_no and vd.lec_no = l.lec_no and l.m_no =#{m_no}
group by (v.v_no , v.m_no , v.vacation_title , v.reason , v.status, v.application_date , m.name)
order by v.v_no desc
</select>

<select id="adminList" resultType="Vacation">
select v.* , vd.tstatus , vd.astatus,vd.status , m.name , vd.vacation_date , vd.lec_no , l.title
from vacation v, vacationdate vd , member m ,lecture l 
where vd.v_no= v.v_no and m.m_no = v.m_no and vd.lec_no = l.lec_no
</select>

<update id="permission">

update vacationdate
set tstatus='Y'
where v_no=#{v_no} and lec_no=#{lec_no} and vacation_date = #{vacation_date}

</update>

<update id="companion">
update vacationdate
set tstatus='B', companion_reason=#{companion_reason}
where v_no= #{v_no} and lec_no=#{lec_no} and vacation_date = #{vacation_date}

</update>

<update id="adminpermission">
update vacationdate
set astatus='Y', status='Y'
where v_no=#{v_no} 
</update>

<update id ="multipermission">
update vacationdate
set astatus='Y', status='Y'
where v_no=#{v_no} and lec_no=#{lec_no} and vacation_date=#{vacation_date}
</update>

<select id="selectListAdmin" resultType="Vacation">
select v.*, m.name 
from vacation v , member m 
where v.m_no=m.m_no
order by v.v_no desc
</select>

<select id="selectVacation" resultType="Vacation">
select v.*, m.name 
from vacation v , member m 
where v.v_no =#{v_no} and v.m_no=m.m_no
</select>
<!-- 
<insert id="insertvacation">

insert into calendar values(SEQ_CALENDAR.nextval,
(select l.m_no
from vacationdate vd, lecture l
where v_no=#{v_no} and vd.lec_no=l.lec_no) , 
(select  m.name 
from vacation v , member m
where v_no=#{v_no} and v.m_no = m.m_no ) || ' 휴가',
(select vd.vacation_date 
from vacation v ,vacationdate vd 
where v.v_no =#{v_no} and vd.v_no = v.v_no),
(select vd.vacation_date 
from vacation v ,vacationdate vd 
where v.v_no =#{v_no} and vd.v_no = v.v_no), default)


</insert>
 -->
 
 <select id="selectVacationDateListWithCount" resultType="VacationDate">
SELECT vdd.*,cd.NTH,(SELECT m_no from VACATION WHERE v_no=#{v_no}) m_no FROM VACATIONDATE vdd, CLASSDATE cd
WHERE VACATION_DATE IN (SELECT vacation_date
FROM (SELECT vd.VACATION_DATE,count(*) totalcount,
(SELECT count(*) FROM VACATIONDATE WHERE vacation_date=vd.VACATION_DATE AND v_no=#{v_no} AND tstatus='Y') yescount
FROM VACATIONDATE vd
WHERE v_no=#{v_no} GROUP BY VACATION_DATE)
WHERE totalcount=yescount)
AND vdd.LEC_NO=cd.LEC_NO AND vdd.VACATION_DATE=cd.CLASSDATE
</select>

<select id="classdateList" resultType="Classdate">
select distinct cd.classdate 
from myclass mc , classdate cd
where mc.m_no=#{m_no} and mc.lec_no = cd.lec_no
order by 1
</select>


</mapper>
